@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}